{
    "presets": [
        ["@babel/preset-env", { "modules": false, "useBuiltIns": "usage" }],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
    ]
}