{
    "presets": [
        ["@babel/preset-env", { "useBuiltIns": "usage" }]
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "plugins": [
                ["babel-plugin-webpack-alias", { "config": "./build/webpack/config.js" }]
            ]
        }
    }
}