{% import "./macros/assets.html" as assets %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{csrfToken}}">
    <title>Avenue Express App | {{title}}</title>
    {{assets.style('main')}}
    {{assets.style(moduleStyle)}}
  </head>
  <body>
    {% block content %}{% endblock %}
    {{assets.script('vendor')}}
    {{assets.script(moduleScript)}}
  </body>
</html>