# protocol, host and port used for server
PROTOCOL=http
HOST=localhost
PORT=3000

# default views engine, extension
VIEWS_ENGINE=nunjucks
VIEWS_EXT=html

# maximum of request timeout
REQUEST_TIMEOUT=5000

# secret key used for application
SECRET_KEY=put.your.secret.key.here

# database connection credentials
DATABASE_NAME=test
DATABASE_USERNAME=root
DATABASE_PASSWORD=root

# mongodb URI string
MONGODB_URI='mongodb://localhost:27017/test'

# path to sqlite storage file
SQLITE_STORAGE='path/to/database.sqlite'